<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>BeautyRankingServer</display-name>
  <servlet>
    <servlet-name>BeautyRankingLogin</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>org.wheat.beautyRanking.servlet.BeautyRankingLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterUserServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>org.wheat.beautyRanking.servlet.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownLoadPhotoServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>org.wheat.beautyRanking.servlet.DownLoadPhotoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetNewPage</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>org.wheat.beautyRanking.servlet.GetNewPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetRisePage</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>org.wheat.beautyRanking.servlet.GetRisePage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetSumPage</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>org.wheat.beautyRanking.servlet.GetSumPage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetMyFollowPage</servlet-name>
  	<display-name>GetMyFollowPage</display-name>
  	<description>get my follow page from server</description>
  	<servlet-class>org.wheat.beautyRanking.servlet.GetMyFollowPage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetOneBeautyAllPhotos</servlet-name>
  	<display-name>GetOneBeautyAllPhotos</display-name>
  	<description></description>
  	<servlet-class>org.wheat.beautyRanking.servlet.GetOneBeautyAllPhotos</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetMyCreateBeauty</servlet-name>
  	<display-name>GetMyCreateBeauty</display-name>
  	<description></description>
  	<servlet-class>org.wheat.beautyRanking.servlet.GetMyCreateBeauty</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetNeighour</servlet-name>
  	<display-name>GetNeighour</display-name>
  	<description></description>
  	<servlet-class>org.wheat.beautyRanking.servlet.GetNeighour</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadPhotoHttpclient</servlet-name>
  	<display-name>UploadPhotoHttpclient</display-name>
  	<description></description>
  	<servlet-class>org.wheat.beautyRanking.servlet.UploadPhotoHttpclient</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadPhotoUrlCon</servlet-name>
  	<display-name>UploadPhotoUrlCon</display-name>
  	<description></description>
  	<servlet-class>org.wheat.beautyRanking.servlet.UploadPhotoUrlCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadPhotoMutilpast</servlet-name>
  	<display-name>UploadPhotoMutilpast</display-name>
  	<description></description>
  	<servlet-class>org.wheat.beautyRanking.servlet.UploadPhotoMutilpast</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadBeautyInfo</servlet-name>
  	<display-name>UploadBeautyInfo</display-name>
  	<description></description>
  	<servlet-class>org.wheat.beautyRanking.servlet.UploadBeautyInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadOneBeautyPhoto</servlet-name>
  	<display-name>UploadOneBeautyPhoto</display-name>
  	<description></description>
  	<servlet-class>org.wheat.beautyRanking.servlet.UploadOneBeautyPhoto</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadPraise</servlet-name>
  	<display-name>UploadPraise</display-name>
  	<description></description>
  	<servlet-class>org.wheat.beautyRanking.servlet.UploadPraise</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadOneComment</servlet-name>
  	<display-name>UploadOneComment</display-name>
  	<description></description>
  	<servlet-class>org.wheat.beautyRanking.servlet.UploadOneComment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetBeautyDetail</servlet-name>
  	<display-name>GetBeautyDetail</display-name>
  	<description></description>
  	<servlet-class>org.wheat.beautyRanking.servlet.GetBeautyDetail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteBeauty</servlet-name>
  	<display-name>DeleteBeauty</display-name>
  	<description></description>
  	<servlet-class>org.wheat.beautyRanking.servlet.DeleteBeauty</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletePhoto</servlet-name>
  	<display-name>DeletePhoto</display-name>
  	<description></description>
  	<servlet-class>org.wheat.beautyRanking.servlet.DeletePhoto</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateBeautyInfo</servlet-name>
  	<display-name>UpdateBeautyInfo</display-name>
  	<description></description>
  	<servlet-class>org.wheat.beautyRanking.servlet.UpdateBeautyInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteComment</servlet-name>
  	<display-name>DeleteComment</display-name>
  	<description></description>
  	<servlet-class>org.wheat.beautyRanking.servlet.DeleteComment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteFollow</servlet-name>
  	<display-name>DeleteFollow</display-name>
  	<description></description>
  	<servlet-class>org.wheat.beautyRanking.servlet.DeleteFollow</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>BeautyRankingLogin</servlet-name>
    <url-pattern>/servlet/BeautyRankingLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterUserServlet</servlet-name>
    <url-pattern>/servlet/RegisterUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownLoadPhotoServlet</servlet-name>
    <url-pattern>/servlet/DownLoadPhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetNewPage</servlet-name>
    <url-pattern>/servlet/GetNewPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRisePage</servlet-name>
    <url-pattern>/servlet/GetRisePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSumPage</servlet-name>
    <url-pattern>/servlet/GetSumPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetMyFollowPage</servlet-name>
  	<url-pattern>/GetMyFollowPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetOneBeautyAllPhotos</servlet-name>
  	<url-pattern>/GetOneBeautyAllPhotos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetMyCreateBeauty</servlet-name>
  	<url-pattern>/GetMyCreateBeauty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetNeighour</servlet-name>
  	<url-pattern>/GetNeighour</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadPhotoHttpclient</servlet-name>
  	<url-pattern>/UploadPhotoHttpclient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadPhotoUrlCon</servlet-name>
  	<url-pattern>/UploadPhotoUrlCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadPhotoMutilpast</servlet-name>
  	<url-pattern>/UploadPhotoMutilpast</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadBeautyInfo</servlet-name>
  	<url-pattern>/UploadBeautyInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadOneBeautyPhoto</servlet-name>
  	<url-pattern>/UploadOneBeautyPhoto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadPraise</servlet-name>
  	<url-pattern>/UploadPraise</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadOneComment</servlet-name>
  	<url-pattern>/UploadOneComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetBeautyDetail</servlet-name>
  	<url-pattern>/GetBeautyDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteBeauty</servlet-name>
  	<url-pattern>/DeleteBeauty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletePhoto</servlet-name>
  	<url-pattern>/DeletePhoto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateBeautyInfo</servlet-name>
  	<url-pattern>/UpdateBeautyInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteComment</servlet-name>
  	<url-pattern>/DeleteComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteFollow</servlet-name>
  	<url-pattern>/DeleteFollow</url-pattern>
  </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
